<div xmlns:th="http://www.w3.org/1999/xhtml">
    <footer th:fragment="footer" itemscope itemtype="https://schema.org/WPFooter">
        <span itemprop="about">Individual Project</span> -
        <span itemprop="about">Software Engineering Resource Manager</span> -
        <span itemscope itemtype="https://schema.org/Organization" itemprop="copyrightHolder"><span itemprop="legalName">Cardiff University</span> -
            <span itemprop="employee"><span itemscope itemtype="https://schema.org/Person"><span itemprop="givenName">Kurt Hamer</span></span></span></span>
    </footer>
</div>
